@model Bilinguals.Domain.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container bg-white rounded-pill2 shadow-sm">
    <div>
        <h4 class="text-center pt-5 pb-2">Details Account</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.UserName)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                    <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                    <td>@Html.DisplayFor(model => model.UserName)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="pb-5 text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn-sm btn btn-warning me-2", style = "text-decoration: none;" }) 
        @Html.ActionLink("Back to List", "Index", "", new { @class = "btn-sm btn btn-secondary", style = "text-decoration: none;" })
    </p>
</div>




