<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/custom-navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>



<body class="d-flex flex-column h-100">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="~/">ENGLISH LIBRARY</a>
            <a style="border-color: white" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i style="font-size: 26px;" class="bi bi-filter-square-fill"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><span>@Html.ActionLink("All Dialogs", "Index", "Dialogs", null, new { @class = "customitem nav-link" })</span></li>
                    @if (User.IsInRole("Creater"))
                    {
                        <li class="nav-item"><span>@Html.ActionLink("Contribute", "Index", "ImportExport", null, new { @class = "nav-link" })</span></li>
                    }
                    <li class="nav-item">
                        <div class="dropdown">
                            <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="dropdownMenuRepo" data-bs-toggle="dropdown" aria-expanded="false">
                                My Workspace
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuRepo">
                                <li><a class="dropdown-item" href="~/groups/mysentence"><i class="bi bi-chat-square-quote-fill me-2"></i>My Sentence</a></li>
                                <li><button class="dropdown-item" type="button"><i class="bi bi-translate me-2"></i>Vocabulary</button></li>
                                <li><a class="dropdown-item" href="~/dialogs/mydialog"><i class="bi bi-chat-square-text-fill me-2"></i>My Dialog</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Action("LoginPartial","Home")
            </div>
        </div>
    </nav>

    <!-- Body-->
    <main class="masthead">
        <div class="container px-4">
            @RenderBody()
        </div>
    </main>

    <!-- Footer-->
    <footer class="footer mt-auto bg-custom1 text-center py-2">
        <div class="container">
            <div class="text-white-50 small">
                <p class="mb-1">&copy; @DateTime.Now.Year - Duy Phuc To</p>
                <a href="#!">Skyper</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Facebook</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Instagram</a>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        //https://jquery.malsup.com/block/#demos
        $(function () {
            var defaults = $.blockUI.defaults;
            $.blockUI.defaults = {
                ...defaults,
                message: 'Please wait ...',
                baseZ: 1055,
                overlayCss: {
                    ...defaults.overlayCSS,
                    opacity: '.3'
                },
                css: {
                    ...defaults.css,
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '6px',
                    '-moz-border-radius': '6px',
                    opacity: .4,
                    color: '#fff'
                },
            };

            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
