@model PagedList.IPagedList<Bilinguals.Domain.Models.Sentence>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Trang chủ";
    var searchText = Request.QueryString["SearchText"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    PagedList.IPagedList<Bilinguals.Domain.Models.Dialog> dialogs = ViewBag.dialogs;
}
<link href="~/Content/css/home-index.css" rel="stylesheet" />

<div class="row gx-5 align-items-center">
    <div class="aftersearch text-center">
        <img src="https://github.com/de9vp/Contact/blob/master/images/why-us.png?raw=true" style="width: 274px" alt="">
    </div>
    <div class="aftersearch text-center">
        <span style="font-family: 'Ephesis', cursive; font-size: 3em; ">" Adventure is the best way to learn. "</span>
    </div>
    <form>
        <div class="row mb-3 justify-content-center">
            <input style="width:30rem" type="text" class="form-control text-center rounded-pill" id="searchText" name="searchText" value="@searchText" placeholder="Enter the sentence or vocabulary">
        </div>
        <div class="row mb-3 justify-content-center">
            <button type="submit" style="width: 8rem;" class="btn btn-custom1 rounded-pill"> <span class="bi-search me-2"></span>Search</button>
        </div>
    </form>
</div>

@if (Model.Count > 0 || dialogs?.Count > 0)
{
    <div class="row gx-5">

        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-sentence-tab" data-bs-toggle="pill" data-bs-target="#pills-sentence" type="button" role="tab" aria-controls="pills-sentence" aria-selected="true">Search by Sentence</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-dialog-tab" data-bs-toggle="pill" data-bs-target="#pills-dialog" type="button" role="tab" aria-controls="pills-dialog" aria-selected="false">Search by Dialog</button>
            </li>
            @*<li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Search by Irregular Verbs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Search by My Vocabulary</button>
            </li>*@
        </ul>
        <div class="tab-content" id="pills-tabContent">

            @* Tra câu *@
            <div class="tab-pane fade show active" id="pills-sentence" role="tabpanel" aria-labelledby="pills-sentence-tab">
                <table class="table mt-4">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="row mx-1">
                                <td class="row col-8">
                                    <span class="entext"><i class="bi bi-chat-square-quote-fill me-2"></i>@item.EnText</span>
                                    <span class="vitext mb-2">&emsp;<i class="bi bi-arrow-return-right me-2"></i>@item.ViText</span>
                                    <span class="timeupdated">&emsp;&emsp;&ensp;&nbsp;<i class="bi bi-clock me-1"></i>Last updated on @(!item.DateModified.HasValue ? null : item.DateModified?.ToString("dd/MM/yyyy"))</span>
                                    <span class="dialogname">&emsp;&emsp;<i class="bi bi-card-list me-2"></i>@item.DialogName</span>
                                    <span></span>
                                </td>
                                <td class="col-4 d-flex flex-row-reverse">
                                    <div class="btn-group dropstart dr">
                                        <span class="my-auto rounded-start bg-custom3 gn">&nbsp; @item.GroupName &nbsp;</span>
                                        <button type="button" data-sentenceid="@item.Id" data-usersentenceid="@item.UserSentenceId" class="btn btn-select btn-@(!item.UserSentenceId.HasValue ? "outline-custom1" : "custom1") btn-sm my-4 rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="bi bi-@(!item.UserSentenceId.HasValue ? "plus-lg" : "check-lg")"></span>
                                        </button>
                                        <ul class="dropdown-menu savedropdown" aria-labelledby="dropdownMenuSave">
                                            <li><a href="#" class="dropdown-item create" data-bs-toggle="modal" data-bs-target="#bsModal">Add to new list</a></li>
                                            <li><a class="dropdown-item remove" href="#">Remove</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="paging" style="text-align: center">
                    <span class="badge rounded-pill bg-custom2">
                        &nbsp; Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount &nbsp;
                    </span>
                    @Html.PagedListPager(Model, sentenceIndex => Url.Action("Index", new { sentenceIndex, searchText = searchText }))
                </div>
            </div>

            @* Tra doan hoi thoai *@
            <div class="tab-pane fade" id="pills-dialog" role="tabpanel" aria-labelledby="pills-dialog-tab">
                <table class="table mt-4">
                    <tbody>
                    @{
                        
                        foreach (var item in dialogs)
                        {
                            <tr class="row mx-1">
                                <td class="row col-8">
                                    <span class="entext"><i class="bi bi-chat-square-text-fill me-2"></i>@item.Name</span> 
                                    <span class="timeupdated">&emsp;<i class="bi bi-clock me-1"></i>Last updated on @(!item.DateModified.HasValue ? null : item.DateModified?.ToString("dd/MM/yyyy"))</span>
                                </td>
                                <td class="col-4">
                                    @item.DateModified
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                <div id="paging" style="text-align: center">
                    <span class="badge rounded-pill bg-custom2">
                        &nbsp; Page @(dialogs.PageCount < dialogs.PageNumber ? 0 : dialogs.PageNumber) of @dialogs.PageCount &nbsp;
                    </span>
                    @Html.PagedListPager(dialogs, dialogIndex  => Url.Action("Index", new { dialogIndex, searchText = searchText }))
                </div>
            </div>

            @* Tra từ vựng cá nhân *@
            @*<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for
            </div>*@
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bsModal" tabindex="-1">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    @section scripts {
        @*<script type="text/javascript">
            $(function () {
                setTimeout(function myfunction() {
                    $('.aftersearch').css('display', 'none').css('transition', 'all 0.3s cubic-bezier(0.37, 0.01, 0.06, 0.14) 0s')
                }, 2000);
            })
        </script>*@

        <script src="~/Scripts/jquery.form.js"></script>
        <script src="~/Scripts/Components/dropdown-sentence.js"></script>
        <script type="text/javascript">
            var Main = (function () {
                return {
                    init: function () {
                        bsModal.init(() => { bsModal.setState() }, (newGroup) => {
                            //change ui dropdown
                            getUserGroups();
                        });
                        getUserGroups();
                        handleSaveRemove();
                    },
                }
            })();

            $(function () {
                Main.init();
            });
        </script>
    }
}


