@model Bilinguals.Domain.Models.Dialog

@{
    ViewBag.Title = "Create";
}

<br />
<h2>Thêm mới hội thoại</h2>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dialog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.DateModified)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">Chọn File (.txt)</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog d-block modal-xl">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nhập trực tiếp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Form()
            </div>
        </div>
    </div>
</div>

@helper Form()
{
    <div class="form-horizontal">
    @if (ViewBag.Result != null)
    {
        if (ViewBag.Result != "success")
        {
            <div class="alert alert-danger">@ViewBag.Result</div>
        }
        else
        {
            <div class="alert alert-info">Imported successfully</div>
        }
    }


    @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Select file (*.xlsx)</label>
        <input class="form-control" type="file" name="file" value="" style="width: 300px" />
        <br />
        <input type="submit" value="Upload" class="btn btn-primary" />
    }
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
