@model Bilinguals.Domain.Models.Dialog
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    var returnUrl = Request.QueryString["returnUrl"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 2;
}
<link href="~/Content/css/home-index.css" rel="stylesheet" />


<h2 class="text-center pt-3" style="font-family: 'Nunito Sans', sans-serif; font-weight: bold; color: #092139;"> @Html.DisplayFor(model => model.Name) </h2>
<h6 class="text-center pb-4" style="opacity: 0.5; font-style: italic !important;">Last updated on @(Model.DateModified?.ToString("dd/MM/yyyy"))</h6>
<span hidden id="userId">@User.Identity.GetUserId()</span>

<div class="row mx-5">
    <table class="table table-borderless">
       @foreach (var item in Model.Sentences)  //if bug display: Object reference not set to an instance of an object => add virtual to navigation properties in Model
       {
            if (i % 2 == 0)
            {
                i = i + 1;
                <tr class="row px-5">
                    <td class="col-9 d-flex flex-column bg-white mb-3 rounded-pill px-4 py-2 shadow-sm">
                        <span class="entext">
                            <i class="bi bi-chat-square-quote-fill me-2"></i>@item.EnText
                            <span class="btn-group btn-sm" role="group" aria-label="Basic example">
                                <button data-text="@item.EnText" type="button" class="speak btnnopadding btn-outline-custom1"><i class="bi bi-volume-up-fill"></i></button>
                            </span>
                        </span>
                        <span class="vitext ps-3"><i class="bi bi-arrow-return-right me-2"></i>@item.ViText</span>
                        <div>
                            <div class="btn-group dropstart btnsave ps-3">
                                <div class="gn @(item.GroupName.IsEmpty() ? null : "my-auto rounded-start bg-custom3 my-1" )"> <span class=" px-@(item.GroupName.IsEmpty() ? "0" : "2" ) ">@item.GroupName</span>  </div>
                                <button @(User.Identity.GetUserId() == null ? "hidden" : "") type="button" data-sentenceid="@item.Id" data-usersentenceid="@item.UserSentenceId" class="btn btn-select btn-@(!item.UserSentenceId.HasValue ? "outline-custom2" : "custom2") btn-sm rounded-pill1 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="bi bi-@(!item.UserSentenceId.HasValue ? "info-lg" : "check-lg")"></span>
                                </button>
                                <ul class="dropdown-menu savedropdown" aria-labelledby="dropdownMenuSave">
                                    <shadow class="d-flex">
                                        <a href="#" class="dropdown-item mx-2 rounded-pill1 w-75 d-flex justify-content-center create" data-bs-toggle="modal" data-bs-target="#bsModal">New List</a>
                                        <a class="dropdown-item mx-2 rounded-pill1 w-25 d-flex justify-content-center remove" href="#"><i class="bi bi-x-lg"></i></a>
                                    </shadow>
                                    <li><hr class="dropdown-divider"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-3"></td>
                </tr>
            }
            else
            {
                i = i + 1;
                <tr class="row px-5">
                    <td class="col-3"></td>
                    <td class="col-9 d-flex align-items-end flex-column bg-white mb-3 rounded-pill px-4 py-2 shadow-sm">
                        <span class="entext">
                            <span class="btn-group btn-sm" role="group" aria-label="Basic example">
                                <button data-text="@item.EnText" type="button" class="speak btnnopadding btn-outline-custom1"><i class="bi bi-volume-up-fill"></i></button>
                                @*<button type="button" class="btnnopadding btn-outline-custom1"><i class="bi bi-pause-fill"></i></button>*@
                            </span>
                            @item.EnText
                            <i class="bi bi-chat-square-quote-fill ms-2"></i>
                        </span>
                        <span class="vitext">@item.ViText<i class="bi bi-arrow-return-left ms-2"></i>&emsp;</span>
                        <div>
                            <div class="btn-group dropstart btnsave pe-3">
                                <div class="gn @(item.GroupName.IsEmpty() ? null : "my-auto rounded-start bg-custom3 my-1" )"> <span class=" px-@(item.GroupName.IsEmpty() ? "0" : "2" ) ">@item.GroupName</span>  </div>
                                <button @(User.Identity.GetUserId() == null ? "hidden" : "") type="button" data-sentenceid="@item.Id" data-usersentenceid="@item.UserSentenceId" class="btn btn-select btn-@(!item.UserSentenceId.HasValue ? "outline-custom2" : "custom2") btn-sm rounded-pill1 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="bi bi-@(!item.UserSentenceId.HasValue ? "info-lg" : "check-lg")"></span>
                                </button>
                                <ul class="dropdown-menu savedropdown" aria-labelledby="dropdownMenuSave">
                                    <shadow class="d-flex">
                                        <a href="#" class="dropdown-item mx-2 rounded-pill1 w-75 d-flex justify-content-center create" data-bs-toggle="modal" data-bs-target="#bsModal">New List</a>
                                        <a class="dropdown-item mx-2 rounded-pill1 w-25 d-flex justify-content-center remove" href="#"><i class="bi bi-x-lg"></i></a>
                                    </shadow>
                                    <li><hr class="dropdown-divider"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div class="row mx-5 ">
    <div class="px-5 w-100">
        <div class="row bg-white rounded-pill1 shadow-sm">
            <div class="p-4">
                <h4 style="
                    text-align: center;
                    background-color: #42586f;
                    color: white;
                    " 
                    class="rounded-pill1 py-2">
                    Comment & Feedback
                </h4>
                <hr />
                <div class="other-comments ms-2">
                    @* Load data here *@
                </div>
                
                <label class="form-label">Write your comment</label>
                <form id="commentForm" method="post" class="d-flex">
                    <input id="dialogid" type="hidden" name="DialogId" value="@Model.Id" />
                    <input type="hidden" name="UserId" />
                    <input type="hidden" name="TimeStamp" />
                    <textarea class="form-control flex-fill me-3" type="text" name="Text" style=" max-width: 850px;"></textarea>
                    <button type="submit" id="btn-post" class="btn btn-custom1 mt-4 flex-fill">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="bsModal" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content"></div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/Components/dropdown-sentence.js"></script>
    <script type="text/javascript">
        var dialogId = $('#dialogid').val();
        var userId = $('#userId').text();
        var comments = [];

        var getComment = () => {
            $.ajax({
                url: `/dialogs/getcomment?dialogid=${dialogId}`,
                success: function (data) {
                    comments = data;
                    var allComments = comments.reduce((all, comment) => {
                        let rowComment;
                        if (comment.UserId == userId) {
                            rowComment = `
                            <div class="cm">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="edit-form" data-comment="${comment.Text}" data-id="${comment.Id}">
                                            <i class="bi bi-cursor-fill me-2"></i>
                                            <span> ${comment.Text} </span>
                                        </div>
                                        <h6 class="mt-2" style="opacity: 0.5; font-style: italic !important; font-size: 12px;">Posted by <span style="color: #0080ff;"> ${comment.UserFullname} </span> - ${comment.TimeConvert}</h6>
                                    </div>
                                    <div>
                                        <div class="btn-group dropstart">
                                            <span class="comment-select" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </span>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><span data-commentid="${comment.Id}" class="dropdown-item text-center text-info edit-comment" style="cursor: pointer;">Edit</span></li>
                                                <li><span data-commentid="${comment.Id}" class="dropdown-item text-center text-danger delete-comment" style="cursor: pointer;">Delete</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0" />
                            </div>
                            `;
                        } else {
                            rowComment = `
                                <div data-commentid="${comment.Id}">
                                    <span><i class="bi bi-cursor-fill me-2"></i>${comment.Text}</span>
                                    <h6 class="mt-2" style="opacity: 0.5; font-style: italic !important; font-size: 12px;">Posted by <span style="color: #0080ff;"> ${comment.UserFullname} </span> - ${comment.TimeConvert}</h6>
                                    <hr class="mt-0" />
                                </div>
                            `;
                        }
                        return all += rowComment;
                    }, '');
                    $('.other-comments').append(allComments);
                }
            });
        };

        var handlePostComment = () => {
            $('#btn-post').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "@Url.Action("DialogComment", "Dialogs")",
                    data: $('#commentForm').serialize(),
                    success: function (data) {
                        $('.other-comments').append(`
                        <div class="cm">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="edit-form" data-comment="${data.text}" data-id="${comment.id}">
                                        <i class="bi bi-cursor-fill me-2"></i>
                                        <span> ${data.text} </span>
                                    </div>
                                    <h6 class="mt-2" style="opacity: 0.5; font-style: italic !important; font-size: 12px;">Posted by <span style="color: #0080ff;"> ${data.user} </span> - ${data.timeStamp}</h6>
                                </div>
                                <div>
                                    <div class="btn-group dropstart">
                                        <span class="comment-select" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </span>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><span data-commentid="${data.id}" class="dropdown-item text-center text-info edit-comment" style="cursor: pointer;">Edit</span></li>
                                            <li><span data-commentid="${data.id}" class="dropdown-item text-center text-danger delete-comment" style="cursor: pointer;">Delete</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-0" />
                        </div>
                        `);
                        $('#commentForm textarea').clearFields();
                    }
                });
            });
        };

        var handleDeleteComment = () => {
            $(document).on('click', '.comment-select', function () {   //https://stackoverflow.com/questions/19194177/jquery-select-change-not-firing/41457428
                $('.delete-comment').off('click').on('click', function (e) {
                    e.preventDefault();
                    var _this = $(this);
                    var commentId = $(this).data('commentid');
                    $.ajax({
                        url: `/dialogs/deletecomment?commentid=${commentId}`,
                        success: function () {
                            _this.parents('.cm').remove();
                        }
                    });
                });
            });
        };

        var handleEditComment = () => {
            var editElement, commentElement;
            $(document).on('click', '.comment-select', function () {
                $('.edit-comment').off('click').on('click', function (e) {
                    editElement = $(this).parents('.cm').find('.edit-form');
                    commentElement = $(this).parents('.cm');
                    var check = $('.showform').attr('class');
                    if (!check) {
                        var editForm = `
                        <form method="post" class="row showform">
                            <div class="col-auto">
                                <input type="text" class="form-control" name="text" value="${editElement.attr('data-comment')}" style="max-width: 100%;width: 600px;">
                                <input type="hidden" name="commentid" value="${editElement.attr('data-id')}" />
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-custom2 mb-2 edit-save">Save</button>
                                <a class="btn btn-danger mb-2 edit-cancel">Cancel</a>
                            </div>
                        </form>
                        `;
                        e.preventDefault();
                        editElement.children().hide();
                        editElement.append(editForm);
                    }
                });
            });

            $(document).on('click', '.edit-cancel', function () {
                $('.showform').remove();
                editElement.children().removeAttr('style');
            });

            $(document).on('click', '.edit-save', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "@Url.Action("EditComment", "Dialogs")",
                    data: $(document).find('.showform').serialize(),
                    success: function (data) {
                        commentElement.remove();
                        $('.other-comments').append(`
                        <div class="cm">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="edit-form" data-comment="${data.text}" data-id="${comment.id}">
                                        <i class="bi bi-cursor-fill me-2"></i>
                                        <span> ${data.text} </span>
                                    </div>
                                    <h6 class="mt-2" style="opacity: 0.5; font-style: italic !important; font-size: 12px;">Posted by <span style="color: #0080ff;"> ${data.user} </span> - ${data.timeStamp}</h6>
                                </div>
                                <div>
                                    <div class="btn-group dropstart">
                                        <span class="comment-select" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </span>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><span data-commentid="${data.id}" class="dropdown-item text-center text-info edit-comment" style="cursor: pointer;">Edit</span></li>
                                            <li><span data-commentid="${data.id}" class="dropdown-item text-center text-danger delete-comment" style="cursor: pointer;">Delete</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-0" />
                        </div>
                        `);
                    }
                });
            });
        };

        var Main = (function () {
            return {
                init: function () {
                    bsModal.init(() => { bsModal.setState() }, (newGroup) => {
                        //change ui dropdown
                        getUserGroups();
                    });
                    getUserGroups();
                    handleSaveRemove();
                    getComment();
                    handlePostComment();
                    handleDeleteComment();
                    handleEditComment();
                },
            }
        })();

        $(function () {
            Main.init();
        });
    </script>
}
