@model Bilinguals.Domain.Models.Dialog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dialog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h3> Sentences </h3>

<table class="table table-bordered">
    @foreach (var item in Model.Sentences)  //Object reference not set to an instance of an object => add virtual to navigation properties in Model
    {
        <tr>
            <td> @item.EnText </td>
            <td> @item.ViText </td>
            <td> @item.SortOrder </td>
        </tr>
    }
</table>
