@model PagedList.IPagedList<Bilinguals.Domain.Models.Dialog>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Dialogs";
    var searchText = Request.QueryString["searchText"];
}
<link href="~/Content/css/bg-animation-card-dialog.css" rel="stylesheet" />
<div class="pb-1 row row-cols-1 row-cols-lg-2">
    <div class="col">
        <h3 class="ms-4">All Dialogs</h3>
    </div>
    <div class="col d-flex flex-row-reverse">
        <form class="me-4" style="width:280px">
            <div class="input-group">
                <input autocomplete="off" style="border-radius: 10px 0 0 10px" type="text" class="form-control" id="searchText" name="searchText" value="@searchText" placeholder="Enter dialog">
                <button id="btnsearch" style="border-radius: 0 10px 10px 0" class="btn btn-custom1"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
</div>
<hr class="mx-4" style="color: #092139;opacity:0.5 !important" />

@if (Model.Count > 0)
{
    <div id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">

            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="gradient-background card card-dialog h-100 overflow-hidden text-white shadow-custom1 rounded-pill">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
                            <a class="textdialog" href="~/dialogs/details/@item.Id" style="text-decoration: none">
                                <h4 class="pt-2 mt-3 mb-4 fw-bold text-white">@item.Name</h4>
                            </a>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <span data-dialogid="@item.Id" data-userdialogid="@item.UserDialogId" style="font-size:13px" class="btn-save-remove btn rounded-pill1 btn-sm btn-@(!item.UserDialogId.HasValue ? "custom1":"secondary")" title="@(item.UserDialogId.HasValue ? "Remove from My Dialogs" : "Save to My Dialogs")">
                                        @(!item.UserDialogId.HasValue ? "SUBSCRIBE":"SUBSCRIBED")
                                    </span>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <i class="bi bi-people me-2"></i>
                                    <small>5</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-calendar3 me-2"></i>
                                    <small>@(!item.DateModified.HasValue ? null : item.DateModified?.ToString("dd/MM/yyyy"))</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div id="paging" class="pt-5" style="text-align: center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex, searchText = searchText }))
    </div>
}

@section scripts {
    <script type="text/javascript">

        $(function () {

            var _savingUrl = '/Dialogs/SaveToMyDialogs?dialogId=';
            var _removingUrl = '/Dialogs/RemoveFromMyDialogs?userDialogId=';

            $('.btn-save-remove').on('click', function (e) {

                var _this = $(this);
                var dialogId = _this.data('dialogid'); //note: lower case
                var userDialogId = _this.data('userdialogid');

                //if (!userDialogId) {
                //    url = (_savingUrl + dialogId);
                //} else {
                //    url = (_removingUrl + userDialogId);
                //}

                var url = (userDialogId && _removingUrl + userDialogId) || (_savingUrl + dialogId);

                $.ajax({
                    url: url,
                    success: function (newUserDialogId) {
                        if (!newUserDialogId) {
                            _this.removeClass('btn-secondary').addClass('btn-custom1')
                                .data('userdialogid', null)
                                .text('SUBSCRIBE')
                                .prop('title', 'Save to My Dialogs');
                        } else {
                            _this.removeClass('btn-custom1').addClass('btn-secondary')
                                .data('userdialogid', newUserDialogId)
                                .text('SUBSCRIBED')
                                .prop('title', 'Remove from My Dialogs');
                        }
                    }
                });
            });
        });

    </script>
}


