@model Bilinguals.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row gx-5">
   @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "row", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <h4 class="text-center"><i class="bi bi-filter-right"></i><i class="bi bi-gear-fill"></i><i class="bi bi-filter-left"></i></h4>
        <br />
        <div class="row g-2 justify-content-md-center">
            <div class="col-md-auto">
                <div class="form-floating">
                    @Html.PasswordFor(m => m.OldPassword, new { style = "width:17em;", placeholder = "Password", type = "password", id = "floatingPassword", @class = "form-control rounded-pill1" })
                    <label for="floatingPassword">Current Password</label>
                </div>
            </div>
        </div>

        <div class="row g-2 justify-content-md-center">
            <div class="col-md-auto">
                <div class="form-floating">
                    @Html.PasswordFor(m => m.NewPassword, new { style = "width:17em;", placeholder = "Password", type = "password", id = "floatingPassword", @class = "form-control rounded-pill1" })
                    <label for="floatingPassword">New Password</label>
                </div>
            </div>
        </div>

        <div class="row g-2 justify-content-md-center">
            <div class="col-md-auto">
                <div class="form-floating">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width:17em;", placeholder = "Password", type = "password", id = "floatingPassword", @class = "form-control rounded-pill1" })
                    <label for="floatingPassword">Confirm Password</label>
                </div>
            </div>
        </div>

        <div class="row g-2 justify-content-md-center">
            <div class="col-md-offset-2 col-md-auto">
                <input type="submit" value="Change password" class="btn btn-custom1" />
            </div>
        </div>

        <div class="row g-2 justify-content-md-center">
            @Html.ValidationSummary("", new { @class = "text-danger col-md-auto" })
        </div>
        
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}